.borrow-item {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.7);
}

.wrap-borrow-item .borrow-item img {
  width: 35%;
  height: auto;
  object-fit: cover;
}

.wrap-borrow-item .borrow-item img:hover {
  object-fit: contain;
}

.wrap-borrow-item .borrow-item .borrow-item-info {
  margin: 10px 20px 20px 10px;
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.borrow-item-info .borrow-item-name {
  font-size: 15pt;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.borrow-item-info .borrow-item-quantity {
  display: flex;
  flex-direction: column;
}

.borrow-item-info .borrow-item-quantity .quantity {
  margin-right: 40px;
}

/* MiniPC, BigTablet: width: 769px ~ 48.0625em to 1024px ~ 64em */
@media only screen and (min-width: 48.0625em) and (max-width: 64em) {
  .wrap-borrow-item .borrow-item img {
    width: 20%;
  }

  .borrow-item-info .borrow-item-quantity {
    flex-direction: row;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .wrap-borrow-item .borrow-item img {
    width: 28%;
    object-fit: contain;
  }

  .wrap-borrow-item .borrow-item .borrow-item-info {
    margin-bottom: 10px;
  }

  .borrow-item-info .borrow-item-quantity {
    flex-direction: row;
  }
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .wrap-borrow-item .borrow-item .borrow-item-info {
    margin-right: 10px;
  }

  .wrap-borrow-item .borrow-item img {
    object-fit: contain;
  }

  .borrow-item-info .borrow-item-name {
    font-size: 10pt;
  }

  .borrow-item-info .borrow-item-quantity {
    font-size: 8pt;
  }

  .wrap-borrow-item .borrow-item .borrow-item-info {
    margin-bottom: 10px;
  }
}