.main {
  height: 100%
}
.continue-page {
  height: auto;
  font-size: 12pt;
  padding: 6px 15px;
  position: relative;
}

.button-page button:hover {
  color: rgb(18, 62, 167);
  background: white;
}

.button-page button:active {
  background: rgb(18, 62, 167);
  color: white;
}

.button-page button {
  height: 50px;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14pt;
  border: 3px solid rgb(18, 62, 167);
  color: rgb(18, 62, 167);
  position: absolute;
  right: 50%;
}

.borrow-item {
  position: absolute;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
  right: 3%;
  bottom: 20px;
}

.borrow-item input {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}
