
.main {
  position: relative;
}
.continue-page {
  height: 40px;
  font-size: 12pt;
  padding: 6px 15px;
  position:absolute;
  right: 0;
  bottom: 0;
}

.back-page {
  height: 40px;
  font-size: 12pt;
  padding: 7% 15px;
  position:absolute;
  left: 0;
  top: 0;
}

.button-page button:hover {
  color: rgb(18, 62, 167);
  background: white;
}

.button-page button:active {
  background: rgb(18, 62, 167);
  color: white;
}

.button-page button {
  height: 50px;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14pt;
  border: 3px solid rgb(18, 62, 167);
  color: rgb(18, 62, 167);
}

.back-page button{
  color: rgb(255, 0, 0);
  border: 3px solid rgb(255, 0, 0);
}





