.title {
  width: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.info-box {
  position: relative;
  margin: 0% 12% 0 8%;
}

.warning {
  font-size: 11pt;
}

.info-box .warning {
  width: auto;
  margin: 5% 0 10% 35%;
  font-size: 12pt;
  color: red;
  position: absolute;
}
