.background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('../images/login_layout.jpg') no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.login-box {
  display: block;
  align-items: center;
  text-align: center;
  width: 360px;
  height: max-content;
  padding-bottom: 20px;
  margin: auto auto auto 140px;
  background-color: rgba(234, 232, 174, 0.8);
  border: 3px solid black;
  border-radius: 10px;
}

.register-box {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.info {
  display: flex;
  margin: 0;
  height: max-content;
}

.authen-info {
  width: 35%;
}

.acc-info {
  width: 55%;
  margin: 0 30px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acc-info .name-phone {
  display: flex;
  width: 100%;
}

.logo {
  margin-top: 10px;
  width: 140px;
}

.input-form {
  border-radius: 10px;
  height: 50px;
  width: 80%;
  font-size: 12pt;
  margin: 15px 10% 5px 10%;
  padding: 10px;
}

.register-box .input-form {
  margin: 15px 0 5px 20px;
}

#register-name {
  margin-left: 0;
}

#register-phone {
  width: 60%;
}

#register-email {
  margin-left: 0;
  width: 100%;
}

#register-gender {
  display: flex;
  height: 50px;
  width: max-content;
  margin: 15px 0 5px 0;
  align-items: center;
}

.label-gender {
  margin-right: 10px;
}

.login-box .warning {
  width: 80%;
  margin: 0 10%;
  font-size: 12pt;
  color: red;
}

.register-box .warning {
  width: 90%;
  margin: 0 20px;
}

.hidden {
  display: none;
}

.button-form {
  border-radius: 10px;
  height: 40px;
  width: 60%;
  margin: 10px 20%;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  color: rgb(6, 12, 32);
}

.register-box .button-form {
  width: 30%;
  margin: 20px 35%;
}

.button-blue {
  background: rgb(84, 150, 215);
}

.button-blue:hover {
  background: rgb(123, 183, 232);
}

.button-blue:active {
  background: rgb(8, 88, 168);
}

.button-green {
  background: rgb(39, 223, 73);
}

.button-green:hover {
  background: rgb(140, 230, 140);
}

.button-green:active {
  background: rgb(23, 112, 59);
}

.login-box .line {
  background: black;
  height: 2px;
  width: 80%;
  margin: 5px 10%;
}

.register-line {
  background: black;
  width: 3px;
  margin: 20px 10px 0 10px;
}

/* Tablet & Mobile: width: 0 to 768px ~ 48em */
@media only screen and (max-width: 48em) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .authen-info {
    width: 100%;
  }

  .register-box .input-form {
    margin-left: 0;
  }

  .register-line {
    width: 80%;
    height: 3px;
    margin-bottom: 10px;
  }

  .acc-info {
    width: 80%;
  }

  #register-phone {
    margin-left: 10px;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .login-box {
    margin: auto auto auto auto;
  }

  .register-box {
    width: 70%;
    margin: 50px auto;
  }
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .login-box {
    width: 80%;
    margin: auto 10% auto 10%;
  }

  .register-box {
    width: 90%;
    margin: 50px auto;
  }

  .acc-info .name-phone {
    flex-direction: column;
  }

  #register-name {
    width: 100%;
  }
  
  #register-phone {
    margin-left: 0;
    width: 100%;
  }

  #register-gender {
    height: 35px;
  }

  .input-form {
    font-size: 10pt;
    padding: 5px 10px;
    height: 42px;
  }

  .warning {
    font-size: 11pt;
  }
}