.wrap-list {
  user-select: none;
  display: inline-block;
  width: 100%;
  margin: 30px 10% 30px 5%;
}

.title-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  margin: 10px 0;
  /* background-color: rgb(247, 221, 187); */
}

.name-list {
  user-select: none;
  font-size: 35px;
  font-weight: 600;
  color: rgb(209, 214, 113);
  padding: 0 8px;
  border-bottom: 4px solid rgb(209, 214, 113);
  /* background-color: rgba(240, 248, 255, 0.8); */
}

.button-list {
  background: rgb(84, 150, 215);
  height: 40px;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  color: rgb(6, 12, 32);
}

.button-list:hover {
  background: rgb(123, 183, 232);
}

.button-list:active {
  background: rgb(8, 88, 168);
  color: antiquewhite;
}

.content-list {
  width: 100%;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
}

img {
  padding: 10px;
}

.wrap-item {
  position: relative;
  padding-top: 175%;
}

.book-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.7);
}

.book-img {
  padding: 5% 5% 0 5%;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.book-img:hover {
  object-fit: contain;
}

.book-name {
  margin: 0 10px;
  font-size: 14pt;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.wrap-book-detail {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgba(39, 42, 44, 0.7);
}

.book-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(197, 180, 175);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.book-detail .main-detail {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  align-items: center;
  text-align: center;
}

.book-detail .book-content {
  text-align: left;
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 70%;
  /* margin-top: 10px; */
}

.book-content .left-column {
  width: 40%;
  height: 100%;
  text-align: center;
}

.book-content .left-column img {
  background: whitesmoke;
  width: 100%;
  padding: 5%;
  height: 90%;
  object-fit: contain;
  border-radius: 10px;
}

.book-detail button {
  width: max-content;
  height: 50px;
  padding: 10px 15px;
  font-size: 12pt;
  font-weight: 600;
  border: 3px solid rgb(200, 31, 31);
  color: rgb(200, 31, 31);
  border-radius: 10px;
  margin-top: 20px;
}

.book-detail button:hover {
  background: rgb(200, 31, 31);
  color: white;
}

.book-detail button:active {
  background: rgb(90, 18, 18);
}

.book-detail button .btn-icon {
  font-size: 20px;
  margin-right: 10px;
}

.main-detail .button-librarian {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-around;
}

.book-content .right-column {
  width: 55%;
  height: 100%;
  margin-left: 5%;
  overflow-y: auto;
}

.book-content .right-column::-webkit-scrollbar {
  width: 6px;
}

.book-content .right-column::-webkit-scrollbar-thumb {
  background: rgba(32, 13, 63, 0.4);
  border-radius: 10px;
}

.book-content .right-column::-webkit-scrollbar-track {
  background-color: rgba(148, 185, 185, 0.4);
}

.book-content .right-column .bookname {
  font-size: 20pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.book-content .right-column .member-book-detail {
  font-size: 12pt;
  margin-bottom: 15px;
}

.book-content .right-column .book-id {
  display: flex;
}

.book-content .right-column .book-id b {
  margin-right: 10px;
}

.book-content .right-column .book-id p {
  font-size: 14pt;
}

.book-content .right-column .author i {
  color: blue;
}

.book-content .right-column .year-page, .book-content .right-column .quantity {
  display: flex;
}

.book-content .right-column .year-page i {
  color: rgb(155, 3, 175);
}

.book-content .right-column .quantity i {
  color: rgb(219, 25, 122);
}

.book-content .right-column .year-page .year, .book-content .right-column .quantity .total {
  margin-right: 80px;
}

@media only screen and (max-width: 56em) {
  .book-content .right-column .year-page .year, .book-content .right-column .quantity .total {
    margin-right: 40px;
  }
}

.book-content .right-column .category i {
  color: rgb(128, 26, 24);
}

.book-detail .main-detail .response {
  font-size: 15pt;
  font-weight: 500;
  margin-top: 20px;
  color: rgb(121, 20, 185);
}

.button-X {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  height: 38px;
  background: red;
  border: 4px solid black;
}

.button-X:hover {
  background: rgb(210, 97, 97);
}

.button-X:active {
  background: rgb(126, 20, 20);
}

.button-X::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background: #fff;
  transform: translateY(13px) translateX(2px) rotate(45deg);
}

.button-X::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background: #fff;
  transform: translateY(13px) translateX(2px) rotate(-45deg);
}

.number-of-page-search {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16pt;
}

.number-of-page-search .left-column-page-num {
  display: flex;
  width: 50%;
}

.number-of-page-search .right-column-page-num {
  display: flex;
  width: 45%;
}

.number-of-page-search .page-number {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  color: black;
}

.number-of-page-search input {
  width: max-content;
  height: 40px;
  border: 3px solid black;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.number-of-page-search button {
  width: max-content;
  height: 40px;
  font-size: 12pt;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 20px;
}

.number-of-page-search .btn-number-page:hover {
  background: rgb(174, 173, 178);
}

.number-of-page-search .btn-number-page:active {
  background: rgb(61, 59, 75);
  color: aliceblue;
}

.number-of-page-search .selected {
  background: rgb(160, 151, 151);
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .wrap-list {
    width: 100%;
    margin: 30px 0;
    /* margin: 30px 3%; */
  }

  .title-list {
    /* height: 50px; */
    width: 100%;
    margin: 10px 0;
  }

  .name-list {
    font-size: 16pt;
  }

  .wrap-book-detail {
    padding: 10% 3%;
  }

  .book-detail {
    overflow-y: auto;
  }

  .book-detail::-webkit-scrollbar {
    width: 6px;
  }

  .book-detail::-webkit-scrollbar-thumb {
    background: rgba(32, 13, 63, 0.4);
    border-radius: 10px;
  }
  
  .book-detail::-webkit-scrollbar-track {
    background-color: rgba(148, 185, 185, 0.4);
  }

  .book-detail .book-content {
    position: relative;
    height: max-content;
    flex-direction: column;
    margin-top: 40px;
  }

  .book-content .left-column {
    width: 100%;
  }

  .book-content .right-column {
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
  }

  .book-content .right-column .year-page, .book-content .right-column .quantity {
    display: block;
  }

  .book-detail button {
    position: relative;
    margin-top: 20px;
    /* margin-bottom: 30px; */

  }

  .main-detail .response {
    padding-bottom: 30px;
  }

  .book-detail button:hover {
    background: white;
    color: rgb(200, 31, 31);
  }

  .book-detail button:active {
    background: rgb(200, 31, 31);
    color: white;
  }

  .number-of-page-search {
    flex-direction: column;
  }

  .number-of-page-search .left-column-page-num {
    width: 100%;
  }

  .number-of-page-search .right-column-page-num {
    margin-top: 10px;
    width: 100%;
  }

  .number-of-page-search .right-column-page-num input {
    margin-left: 0;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .wrap-list {
    width: 90%;
    margin: 30px 5% 30px 5%;
  }

  .title-list {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  .wrap-book-detail {
    padding: 10% 3%;
  }

  .book-content .left-column {
    width: 55%;
  }

  .book-content .right-column {
    width: 40%;
  }

  .book-content .right-column .year-page, .book-content .right-column .quantity {
    display: block;
  }

  .book-detail button:hover {
    background: white;
    color: rgb(200, 31, 31);
  }

  .book-detail button:active {
    background: rgb(200, 31, 31);
    color: white;
  }

  .number-of-page-search {
    flex-direction: column;
  }

  .number-of-page-search .left-column-page-num {
    width: 100%;
  }

  .number-of-page-search .right-column-page-num {
    margin-top: 10px;
    width: 100%;
  }

  .number-of-page-search .right-column-page-num input {
    margin-left: 0;
  }
}

/* Responsive for grid container */
@media only screen and (min-width: 61em) and (max-width: 80em) {
  .content-list {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .book-name {
    font-size: 9pt;
  }
}

@media only screen and (min-width: 30.0625em) and (max-width: 61em) {
  .content-list {
    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .book-name {
    font-size: 8pt;
  }
}

@media only screen and  (max-width: 30em) {
  .content-list {
    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .book-name {
    font-size: 8pt;
  }
}