.public-layout {
  /* position: fixed; */
  top: 0px;
  /* background: url(../images/public_layout.jpg) no-repeat; */
  background: #EEEEEE;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 1;
  line-height: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
}

.content {
  height: 100%;
  flex-grow: 99999999;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(233, 233, 227, 0.4);
  border-radius: 10px;
}

.content::-webkit-scrollbar-track {
  background-color: rgba(7, 152, 111, 0.4);
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .public-layout::-webkit-scrollbar {
    width: 2px;
  }

  .content {
    margin-left: 0;
    padding-top: 80px;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .content {
    padding-top: 80px;
  }
}
