.public-layout {
  /* position: fixed; */
  top: 0px;
  /* background: url(../images/public_layout.jpg) no-repeat; */
  background: rgb(15, 2, 36);
  
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 0px;
  line-height: 0px;
  background: rgb(230, 189, 156);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  padding-top: 60px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 100px;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(233, 233, 227, 0.4);
  border-radius: 10px;
}

.content::-webkit-scrollbar-track {
  background-color: rgba(7, 152, 111, 0.4);
}

/* Mobile: width: <= 480px ~ 30em */
@media only screen and (max-width: 30em) {
  .public-layout::-webkit-scrollbar {
    width: 2px;
  }

  .content {
    margin-left: 0;
    padding-top: 80px;
  }
}

/* Tablet: width: 481px ~ 30.0625em to 768px ~ 48em */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
  .content {
    padding-top: 80px;
  }
}